**질문 1.** 다음의 데이터를 pandas 라이브러리의 DataFrame 구조로 만들어보세요.  
data = {  
    '이름': ['홍길동', '임꺽정', '심청이', '둘리', '하니'],  
    '나이': [25, 30, 35, 28, 22],  
    '성별': ['남', '남', '여', '남', '여'],  
    '직업': ['학생', '회사원', '의사', '엔지니어', '디자이너']  
}

In [ ]:
import pandas as pd

# 예제 데이터 생성
data = {
    '이름': ['홍길동', '임꺽정', '심청이', '둘리', '하니'],
    '나이': [25, 30, 35, 28, 22],
    '성별': ['남', '남', '여', '남', '여'],
    '직업': ['학생', '회사원', '의사', '엔지니어', '디자이너']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임 출력
print(df)

    이름  나이 성별    직업
0  홍길동  25  남    학생
1  임꺽정  30  남   회사원
2  심청이  35  여    의사
3   둘리  28  남  엔지니어
4   하니  22  여  디자이너

**질문 2.** pandas 라이브러리를 활용하여 구구단 데이터를 만들어보세요.

In [ ]:
import pandas as pd

# 구구단 데이터 생성
data = {'단': [], '곱하기': [], '결과': []}

for dan in range(2, 10):
    for multiplier in range(1, 10):
        result = dan * multiplier
        data['단'].append(dan)
        data['곱하기'].append(multiplier)
        data['결과'].append(result)

# 판다스 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터프레임 출력
print(df)

    단  곱하기  결과
0   2    1   2
1   2    2   4
2   2    3   6
3   2    4   8
4   2    5  10
.. ..  ...  ..
67  9    5  45
68  9    6  54
69  9    7  63
70  9    8  72
71  9    9  81

[72 rows x 3 columns]

**질문  3.** 2023년 12월 1일부터 당해년도 12월 30일까지 시간 데이터를 '2023-12-01' 형식으로 시계열 데이터를 생성해보세요.

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# 시작일과 종료일 설정
start_date = datetime(2023, 12, 1)
end_date = datetime(2023, 12, 30)

# 날짜 범위 생성
date_range = pd.date_range(start_date, end_date, freq='D')

# 생성한 날짜 범위 출력
print(date_range)

DatetimeIndex(['2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04',
               '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08',
               '2023-12-09', '2023-12-10', '2023-12-11', '2023-12-12',
               '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-16',
               '2023-12-17', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-23', '2023-12-24',
               '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28',
               '2023-12-29', '2023-12-30'],
              dtype='datetime64[ns]', freq='D')

**질문 4.** 3번의 데이터에서 년도만 2022년으로 변경해보세요.

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# 시작일과 종료일 설정
start_date = datetime(2023, 12, 1)
end_date = datetime(2023, 12, 30)

# 년도 변경
start_date = start_date.replace(year=2022)
end_date = end_date.replace(year=2022)

# 날짜 범위 생성
date_range = pd.date_range(start_date, end_date, freq='D')

# 생성한 날짜 범위 출력
print(date_range)